body{
    margin: 0px;
	background-color:yellow;
}

.tabla{
	border:solid red;
	height: 100vh;
	display:flex;
	justify-content:center;
	align-items:center;

}

.celda{
	background-color: blue;
    width: 50%;
	color: white;

}
h3{
	margin: auto;
}

	