html, body:{
	margin 0px;
	height: 100%}

body{
	background-color:yellow;
	border:solid blue;

}

.tabla{
	border:solid red;
	min-height: 1vh;
	width 100%;
	display:flex;
	justify-content:center;
	align-items:center;

}

.celda{
	background-color: blue;
	color: white;

}
h3{
	margin: auto;
}

	